.body-style {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #fff;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.head-style {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 156px;
  padding-right: 156px;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-right {
  color: #2e2f42;
}

.logo-right:hover,
.logo:focus .logo-right {
  color: #404bbf;
}

.head-list {
  list-style-type: none;
  margin: 0;
}

.head-list-link {
  text-decoration: none;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.head-list-link:focus,
.head-list-link:hover {
  color: #404bbf;
}

.mail-tel {
  font-style: normal;
}

.head-address {
  list-style-type: none;
  margin: 0;
}

.head-address-link {
  color: #434455;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.head-address-link:focus,
.head-address-link:hover {
  color: #404bbf;
}

.hero {
  background: #2e2f42;
  padding-left: 472px;
  padding-right: 472px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;

  margin: 0;
}

.hero-button {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;

  background: #4d5ae5;
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

.benefits {
  padding-left: 156px;
  padding-right: 156px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  margin: 0;
}

.benefits-list {
  list-style-type: none;
  margin: 0;
}

.benefits-list-item {
}

.benefits-list-header {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  margin: 0;
}

.benefits-list-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 0;

  margin-bottom: 8px;
}

.team {
  background: #f4f4fd;
  padding-left: 156px;
  padding-right: 156px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  margin: 0;
}

.team-list {
  list-style-type: none;
  margin: 0;

  margin-top: 72px;
}

.team-list-item {
  background: #fff;
}

.team-list-header {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin: 0;

  margin-top: 32px;
  margin-bottom: 8px;
}

.team-list-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 0;

  margin-bottom: 32px;
}

.portfolio {
  padding-left: 156px;
  padding-right: 156px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  margin: 0;
}

.portfolio-list {
  list-style-type: none;
  margin: 0;

  margin-top: 72px;
}

.portfolio-list-item {
  border: 1px solid #e7e9fc;
}

.portfolio-list-header {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  margin: 0;
  margin-top: 32px;
  margin-bottom: 8px;
  margin-left: 16px;
}

.portfolio-list-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;

  margin: 0;
  margin-bottom: 32px;
  margin-left: 16px;
}

.contacts {
  background: #2e2f42;
  padding-left: 156px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-down-right {
  color: #f4f4fd;
}

.contacts-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;

  margin: 0;
  margin-top: 16px;
}
